Resources:
  QueueBasedScaling:
    Type: AWS::AutoScaling::ScalingPolicy
    Properties:
      AutoScalingGroupName: { "Ref" : "AWSEBAutoScalingGroup" }
      PolicyType: TargetTrackingScaling
      EstimatedInstanceWarmup: 500
      TargetTrackingConfiguration:
        CustomizedMetricSpecification:
          MetricName: ApproximateNumberOfMessagesVisible
          Namespace: AWS/SQS
          Dimensions:
            - Name: QueueName
              Value: transcribe-queue
          Statistic: Average
        TargetValue: 80
        DisableScaleIn: false
        ScaleInCooldown: 900
        ScaleOutCooldown: 500
